@charset "utf-8";

/*плавающее меню */
#prod{
  top: 100px;
  position: fixed;
  z-index: 1000;
}

body {
 }

h1 {
 }

li {
    display: inline;
}

table {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
/*
анимация для класса .welcome
.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
*/
