---
title: Welcome to Middleman
---

<table border="1" >
    <tr>
        <td width="1000px" height="1000px"> тело </td>
    </tr>
    <tr>
        <td width="500px" height="500px"> карта 2гис </td>
    </tr>

</table>

